:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-main: "Roboto";
  --font-secondary: "Raleway";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-family: var(--font-main), sans-serif;
  font-size: 16px;
  color: var(--navy-blue);
  min-width: 320px;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

textarea:focus,
select:focus,
input:focus {
  outline: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--white);
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--ocean);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.header {
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-content,
.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.header-logo,
.footer-logo {
  font-family: var(--font-secondary), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-color,
.footer-logo-color {
  color: var(--iris);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-item:not(:last-child),
.header-contacts-item:not(:last-child) {
  margin-right: 40px;
}

.nav-menu-link {
  position: relative;
  display: block;
  font-family: var(--font-main), sans-serif;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0 24px;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.nav-menu-link.is-active {
  color: var(--ocean);
}

.nav-menu-link::after {
  position: absolute;
  content: "";
  background-color: var(--ocean);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover::after,
.nav-menu-link:focus::after,
.nav-menu-link.is-active::after {
  transform: scaleX(1);
}

.header-contacts-link {
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.features-item {
  max-width: calc((100% - 72px) / 4);
  width: 100%;
}

.features-item:not(:last-child) {
  margin-right: 24px;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  padding: 24px 100px;
  border: 1px solid var(--light-slate);
  background-color: var(--cloud);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 8px;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-description {
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team {
  background: var(--cloud);
}

.team .section-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.team-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team-item-content {
  text-align: center;
  padding: 32px 0;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-description {
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  margin-bottom: 8px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: var(--cloud);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: var(--ocean);
}

.portfolio .section-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--iris);
  color: var(--cloud);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 40px 32px;
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-item-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 360px;
  width: 100%;
}

.portfolio-item-content {
  padding: 32px 16px;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  min-height: 120px;
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-description {
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  color: var(--cloud);
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.footer-social-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}
